<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>已刪除學生</h1>
    <table>
      <tr>
        <td>學生id</td>
        <td><%= deleStudent.id %></td>
      </tr>
      <tr>
        <td>學生name</td>
        <td><%= deleStudent.name %></td>
      </tr>
      <tr>
        <td>學生age</td>
        <td><%= deleStudent.age %></td>
      </tr>
      <tr>
        <td>學生merit</td>
        <td><%= deleStudent.scholarship.merit %></td>
      </tr>
      <tr>
        <td>學生other</td>
        <td><%= deleStudent.scholarship.other %></td>
      </tr>
    </table>
    <a href="/students">回到首頁</a>
  </body>
</html>
